<template name="ThumbnailRed">
    <a href="#">
        <div class="sam-thumbnail">
            <img class="img-responsive" src="{{getData.image}}">
            <p class="caption caption-red">{{getData.org}}</p>
            <div class="info">
                <h4>{{getData.name}}</h4>
                <p>{{getData.caption}}</p>
                <p><span class="time">{{getData.time}}</span><span class="viewer"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{getData.viewer}}</span></p>
            </div>
        </div>
    </a>
</template>