<template name="Footer">
	<div class="footer">
		<div class="above row">
			<div class="col col-lg-3"><img src="img/logo.png" width="324" height="96"></div>
			<div class="above-text col col-lg-9 visible-lg">Đại học Khoa học Tự nhiên Đại học Quốc gia TP Hồ Chí Minh</div>
		</div>
		<div class="below row">
			<div class="col col-lg-4 col-sm-6"><p><b>Cơ sở 1:</b><br>227 Nguyễn Văn Cừ, P4, Q.5<br>Điện thoại: (08) 3 8354008</p></div>
			<div class="col col-lg-4 col-sm-6"><p><b>Cơ sở 2:</b><br>Khu phố 6, P.Linh Trung, Q.Thủ Đức<br>Điện thoại: (08) 3 8961092</p></div>
			<div class="col col-lg-4"><p><b>Email:</b><br>Đoàn Thanh Niên: doantn@hcmus.edu.vn<br>Hội Sinh Viên: hoisinhvien@hcmus.edu.vn</p></div>
		</div>
	</div>
</template>

